
body{

    font-family:'Poppins', sans-serif;
    background:#f7fff7;
    color:#1d3557;
    text-align:center;

}



/* HERO */


.hero{


    height:350px;


    background:
    linear-gradient(
        rgba(0,0,0,0.3),
        rgba(0,0,0,0.3)
    ),
    url("images/city.jpg");


    background-size:cover;
    background-position:center;


    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;


}



.hero h1{


    background:#1d3557;
    color:white;

    padding:10px 25px;

    border-radius:10px;

    margin-bottom:15px;

}



.hero h2{


    background:#457b9d;

    color:white;

    width:500px;

    padding:12px;

    border-radius:10px;


}



/* ACTIVITIES */


.activities{


    background:#f1faee;

    padding:40px;


}



.activities h2{


    margin-bottom:40px;


}



.activity-container{


    display:flex;

    justify-content:space-around;


} 



.activity-card{


    width:250px;

    padding:20px;

    transition:0.3s;


}


/* HOVER EFFECT */

.activity-card:hover{


    background:white;

    transform:translateY(-10px);

    border-radius:20px;

    box-shadow:0 10px 20px #999;


}



.activity-card img{


    width:110px;
    height:110px;

    object-fit:cover;

    border-radius:50%;


}



.activity-card h3{


    margin:20px 0 10px;


}





/* EXTRA SECTION */


.facts{


    padding:40px;

    background:#a8dadc;


}


.facts h2{


    margin-bottom:15px;


}




/* GUIDE */


.guide{


    width:500px;

    margin:60px auto;

    background:#a8dadc;


    display:flex;

    gap:30px;

    padding:25px;


    border-radius:10px;

    border-bottom:8px solid #1d3557;


}



.guide:hover{


    transform:scale(1.05);

    transition:0.3s;


}



.guide img{


    width:200px;

    object-fit:cover;


}



.quote{


    font-style:italic;

    margin:20px 0;


}



/* MOBILE RESPONSIVE */


@media(max-width:700px){


    .activity-container{

        flex-direction:column;

        align-items:center;

    }



    .hero h2{

        width:80%;

    }



    .guide{

        width:90%;

        flex-direction:column;

    }


    .guide img{

        width:100%;

    }


}